extends layout 

block content 
    div.d-flex.justify-content-between.pb-10
        div
            h1 All Available Contacts
        div
            a(href='/contacts/create-contact').btn.btn-primary Create a New Contact
    if contacts.length == 0
        h5.text-center.m-10.p-10 No available contacts
    br
    if contacts.length > 0
        table.table.table-striped.pt-10
            thead
                tr
                    th First Name
                    th Last Name
                    th Email Address
                    th Actions
            tbody
                each contact in contacts
                    tr
                        td #{contact.firstName}
                        td #{contact.lastName}
                        td #{contact.email}
                        td 
                            a(href=`/contacts/${contact.id}`).btn.btn-primary.btn-sm View